$bg0: #A5FEFA;
$bg1: #A8CFFF;
$bg2: #CAFEB8;
$bg3: #93EEAA;
$bg4: #FFA4FF;
$bg5: #CD85FE;
$bg6: #FFA8A8;
$bg7: #52FF20;
$bg8: #DFDF00;
$bg9: #8ADCFF;

.sentence-editor--wrapper {
  outline: none;

  span {
    display: inline-block;
    position: relative;
    .meta {
      line-height: 1.2;
      &.m0 { background: $bg0; }
      &.m1 { background: $bg1; }
      &.m2 { background: $bg2; }
      &.m3 { background: $bg3; }
      &.m4 { background: $bg4; }
      &.m5 { background: $bg5; }
      &.m6 { background: $bg6; }
      &.m7 { background: $bg7; }
      &.m8 { background: $bg8; }
      &.m9 { background: $bg9; }
    }
    .selected {
      /* background: yellow; */
    }

    .meta .mouse-prevent {
      position: absolute;
      top: -10px; bottom: -10px; left: -10px; right: -10px;
    }

    .handle {
      position: absolute;
      top: 0; bottom: 0;
      width: 2px;
      background: #6666FF;

      div.dot {
        position: absolute;
        width: 10px; height: 10px;
        background: #6666FF;
        border-radius: 50%;
        cursor: pointer;
        z-index: 10;
      }

      &.left {
        left: -2px;
      }
      &.right {
        right: -2px;
      }
      &.left div.dot {
        right: -4px;
        top: -7px;
      }
      &.right div.dot {
        left: -4px;
        bottom: -9px;
      }
    }
  }
}

.labeled-token--popover-wrapper {
  padding: 12px;
  font-size: 12px;

  max-width: 200px;
  .bp3-form-control {
    margin-bottom: 12px;
  }
}
